<div class="row">
	
	<div class="bigcards col-sm-12 col-md-12 col-lg-6">
		<div class="card text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3 h-100">
			<div class="card-body">
		    	<p class="mytitle">TKEthics</p>
		        <p class="mysubtitle">We blend technology and ethics to ignite a generation of leaders with expertise in cutting-edge technology and a powerful foundation of timeless humanistic values.</p>
		        <p>
		        	<a href='' ng-click="SelectType('mission')">Mission</a> 
		        	<a href='' ng-click="SelectType('research')">Research</a>
		        	<a href='' ng-click="SelectType('research')">Incubator</a>
		        	<a href='#events'>Events</a>
		        </p>
		        <a href="#started" class="btn btn-primary">Get Started</a>
		    </div>
		</div>
	</div>

	<div class="bigcards col-sm-12 col-md-12 col-lg-6">
		<div class="card border border-primary-subtle rounded-3 h-100 justify-content-center">
			<img src="data/olympics.png">
		    <p class="keywords">
		    	<span class="badge text-bg-primary">AI tools</span>
		      	<span class="badge text-bg-primary">Ethics</span>
		      	<span class="badge text-bg-primary">Research</span>
		      	<span class="badge text-bg-primary">Debate</span>
		      	<span class="badge text-bg-primary">Entrepreneurship</span>
		      	<span class="badge text-bg-primary">Empowerment</span>
		    </p>
		</div>
	</div>

</div>  <!-- row -->


<div class="container">

	<br>

<p class="mytitle" id="started">Get Started</p>
		<p class="mysubtitle">Level up! Learn to use AI software, apply it to a technology based research topic, present or debate others to solidify your understanding and then build a new product or service in the ultimate boss battle and to become AI and future ready.</p>

	<div class="row">

		<div class="col-lg-3 col-md-12">
			<div class="card" >
			  <img class="card-img-top" src="data/aitech.jpg" alt="TechStack">
			  <div class="card-body">
			    <h5 class="card-title">AI TechStack</h5>
			    <p class="card-text">Level 1: Learn the AI software you need to become an AI power user (audio, image, video, text).</p>
			    <a href="#" class="btn btn-primary">Register</a>
			  </div>
			</div>
		</div>

		<div class="col-lg-3 col-md-12">
			<div class="card" >
			  <img class="card-img-top" src="data/airesearch.png" alt="Research">
			  <div class="card-body">
			    <h5 class="card-title">Research</h5>
			    <p class="card-text">Level 2: Research a topic to level up your conceptual and ethical understanding.</p>
			    <a href="#" class="btn btn-primary">Register</a>
			  </div>
			</div>
		</div>

		<div class="col-lg-3 col-md-12">
			<div class="card" >
			  <img class="card-img-top" src="data/aidebate.png" alt="Debate">
			  <div class="card-body">
			    <h5 class="card-title">Debate</h5>
			    <p class="card-text">Level 3: Attain mastery of your topic by presenting or debating your topic.</p>
			    <a href="#" class="btn btn-primary">Register</a>
			  </div>
			</div>
		</div>

		<div class="col-lg-3 col-md-12">
			<div class="card" >
			  <img class="card-img-top" src="data/aiincubate.png" alt="Incubator">
			  <div class="card-body">
			    <h5 class="card-title">Incubator</h5>
			    <p class="card-text">Level 4: Attain boss level command by creating a new product or service.</p>
			    <a href="#" class="btn btn-primary">Register</a>
			  </div>
			</div>
		</div>

	</div> <!-- end row -->

</div>


<div class="container">

	<div style="margin-top:10px; margin-bottom: 10px;">
	<p class="mytitle" id='events'>Events list</p>
	<p class="mysubtitle">Our events provide a platform for students to engage with technological cases at the forefront of moral and political debates, while examining ethical theories from various philosophical traditions.</p>
	</div>

	<div class="row">

		<div class="col-lg-6 col-md-12">
			<div class="card" >
			  <img class="card-img-top" src="data/aiglobal.png" alt="Card image cap">
			  <div class="card-body">
			    <h5 class="card-title">Global AI Debates</h5>
			    <p class="card-text">Jul 01, 2025, 7:00 PM
		        			Dec 07, 2025, 11:00 PM (Virtual Event)</p>
			    <a href="#" class="btn btn-primary">Register</a>
			  </div>
			</div>
		</div>

		<div class="col-lg-6 col-md-12">
			<div class="card" >
			  <img class="card-img-top" src="data/olympics.png" alt="Card image cap">
			  <div class="card-body">
			    <h5 class="card-title">Ethics Olympics</h5>
			    <p class="card-text">Jul 23, 2025, 9:30 AM - 3:00 PM EDT 
			    (Virtual Event)</p>
			    <a href="#" class="btn btn-primary">Register</a>
			  </div>
			</div>
		</div>	

	</div> <!-- end row -->

		<div class="row">

		<div class="col-lg-6 col-md-12">
			<div class="card" >
			  <img class="card-img-top" src="data/grandfinal.png" alt="Card image cap">
			  <div class="card-body">
			    <h5 class="card-title">TKethics grand final</h5>
			    <p class="card-text">Aug 29, 2025, 6:00 PM EDT – Aug 30, 2025, 12:15 AM EDT (Virtual Event)</p>
			    <a href="#" class="btn btn-primary">Register</a>
			  </div>
			</div>
		</div>

		<div class="col-lg-6 col-md-12">
			<div class="card" >
			  <img class="card-img-top" src="data/fallinvite.png" alt="Card image cap">
			  <div class="card-body">
			    <h5 class="card-title">2025 TKEthics Fall Invitational</h5>
			    <p class="card-text">Nov 08, 2025, 6:00 PM – 11:45 PM EST
(Virtual Event)</p>
			    <a href="#" class="btn btn-primary">Register</a>
			  </div>
			</div>
		</div>

	</div> <!-- end row -->

	<div class="row">

		<div class="col-lg-6 col-md-12">
			<div class="card" >
			  <img class="card-img-top" src="data/panamerican.png" alt="Card image cap">
			  <div class="card-body">
			    <h5 class="card-title">Pan American Ethics Olympiad</h5>
			    <p class="card-text">Date and Location TBD</p>
			    <a href="#" class="btn btn-primary">Details</a>
			  </div>
			</div>
		</div>

	</div> <!-- end row -->

</div>
